/* Responsive .css */ 

/* First Condition: Top left image */
@media screen 
  and (min-width: 1200px)  
  and (-webkit-min-device-pixel-ratio: 1) { 

  	.software {width:128px; height:240px; 
  	background: url(software.png) 0px 0px;}

}

/* Second Condition: Top row, second image */
@media screen 
  and (min-width: 1100px) 
  and (max-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

 	.software {width:128px; height:240px; 
  	background: url(software.png) -128px 0px;}

}

/* Third Condition: Top row, third image */
@media screen 
  and (min-width: 1000px) 
  and (max-width: 1100px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

 	.software {width:128px; height:240px; 
  	background: url(software.png) -258px 0px;}
}

/* Fourth Condition: Top row, fourth image */
@media screen 
  and (min-width: 900px) 
  and (max-width: 1000px) 
  and (-webkit-min-device-pixel-ratio: 1) {

 	.software {width:128px; height:240px; 
  	background: url(software.png) -384px 0px;}
 
}

/* Fifth Condition: Top row, fifth image */
@media screen 
  and (min-width: 800px) 
  and (max-width: 900px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

 	.software {width:128px; height:240px; 
  	background: url(software.png) -512px 0px;}

}

/* Sixth Condition: Bottom row, first image */
@media screen 
  and (min-width: 700px) 
  and (max-width: 800px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

 	.software {width:128px; height:240px; 
  	background: url(software.png) 0px -240px;}
 
}

/* Seventh Condition: Bottom row, second image */
@media screen 
  and (min-width: 600px) 
  and (max-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

 	.software {width:128px; height:240px; 
  	background: url(software.png) -128px -240px;}

}

/* Eigth Condition: Bottom row, third image */
@media screen 
  and (min-width: 500px) 
  and (max-width: 600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

 	.software {width:128px; height:240px; 
  	background: url(software.png) -256px -240px;}

}

/* Ninth Condition: Bottom row, fourth image */
@media screen 
  and (min-width: 400px) 
  and (max-width: 500px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

  	.software {width:128px; height:240px; 
  	background: url(software.png) -384px -240px;}

}

/* Tenth Condition: Bottom row, fifth image */
@media screen 
  and (max-width: 400px) 
  and (-webkit-min-device-pixel-ratio: 1) {

 	.software {width:128px; height:240px; 
  	background: url(software.png) -512px -240px;}

}


/* Software.png size is 640px (width) x 480px (height)

top row -> 0px to 240 px
bottom row -> 240px to 480px

Width split into 5 different images
First image -> 0px to 128px
Second image -> 128px to 256px
Third image -> 256px to 384px
Fourth image -> 384px to 512px
Fifth image -> 512px to 640px

*/



